.tabs-container {
  padding: 10px;
}

#main-container {
  display: flex;
  align-items: stretch;
  width: 1040px;
  padding: 0;
}

#main-left {
  width: 810px;
  margin: 0;
  padding: 0;
}

#main-right {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

div.color-box {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  padding: 0;
  bottom: -1px;
  border-style: solid;
  border-width: 2px;
  border-color: #53565a;
}

#tooltip {
  z-index: 10;
  position: fixed;
  background-color: #89d9eb;
  border-style: solid;
  border-width: 2px;
  border-color: #2c2a29;
  padding: 7px;
}

.simple-container {
  display: flex;
  align-items: stretch;
  width: 1040px;
  padding: 0;
}

.left-pane {
  width: 810px;
  margin: 0;
  padding: 0;
}

.right-pane {
  margin: 0;
  padding: 0;
}